[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std

[submodule "lib/dss-exec-lib"]
	path = lib/dss-exec-lib
	url = https://github.com/makerdao/dss-exec-lib
	branch = v0.0.9
[submodule "lib/hats-protocol"]
	path = lib/hats-protocol
	url = https://github.com/Hats-Protocol/hats-protocol
[submodule "lib/ds-pause"]
	path = lib/ds-pause
	url = https://github.com/makerdao/ds-pause
